<ion-view view-title="Account">
    <ion-content>

        <ul>
            <li>{{userinfo.username}}</li>
            <li>{{userinfo.fname}}</li>
            <li>{{userinfo.lname}}</li>
            <li>{{userinfo.email}}</li>
            <li>{{userinfo.town}}</li>
            <li>{{userinfo.role}}</li>
            <li>{{userinfo.birthday | date:"EEE dd MMM yyyy}}</li>
        </ul>
        <button class="button button-positive button-block" ng-click="logout()">
            Logout
        </button>
    </ion-content>
</ion-view>
